html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300px;
  color: black;
  background: #fafafa;
  user-select: none;
}

.body__wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.popup__button {
  color: #fff;
  font-size: 18px;
  border: 2px solid #cb333b;
  background: #cb333b;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s all;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.15),
    0 0.4em 0.5em -0.2em rgba(0, 0, 0, 0.4);
}
.title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  padding: 100px 0;
  line-height: 40px;
}
.popup__button:hover {
  background: #fff;
  color: #cb333b;
  transition: 0.5s all;
}

.popup__button:active {
  transition: 0.5s all;
  box-shadow: none;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.header {
  padding: 0 30px;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.473) 10%,
      rgba(0, 0, 0, 0)
    ),
    url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 185%;
  height: 100vh;
}

.header__top {
  border-bottom: 1px solid #f7f7f7;
}

.header__top-inner {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  max-height: 165px;
}

.header__top-above {
  display: flex;
}

.header__burger-btn {
  display: none;
  outline: none;
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.397);
  z-index: 1;
  border-radius: 4px;
}

.header__burger-btn span {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  left: 5px;
  transition: transform 0.5s, opacity 0.25s, background-color 0.5s;
  will-change: transform;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger-btn span {
  background-color: #fff;
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}
.header__logo {
  display: flex;
}
.header__logo-text {
  max-width: 200px;
  margin-left: 20px;
  margin-top: 15px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}
.header__top-logo-callback {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 250px;
}

.menu {
  padding: 20px 0;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  padding: 3px 0;
  position: relative;
}

.menu__list-item + .menu__list-item {
  margin-left: 50px;
}

.menu__list-item:hover::before {
  width: 100%;
}
.menu__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1.5px;
  background-color: #cb333b;
  transition: width 0.4s;
}

.header__callback-tel-link {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.header__callback-tel-link:hover {
  color: #cb333b;
}

.header__callback {
  display: flex;
  margin-left: auto;
  margin-top: 10px;
}

.header__callback-tel-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/svg/icon/telephone.svg");
  top: 0;
  left: -30px;
  width: 25px;
  height: 25px;
}

.header__callback-tel {
  text-align: end;
}

.header__callback-time {
  color: #fff;
  margin-top: 5px;
}

.header__callback-btn {
  height: 50px;
  margin-left: 40px;
  position: relative;
  overflow-x: hidden;
  box-shadow: 0.5em 0 1em 0 rgba(255, 255, 255, 0.379),
    0 0.4em 0.5em -0.2em rgba(255, 255, 255, 0.333);
}

.header__callback-btn .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg);
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4)
  );
  animation: flareAnimation 2s infinite linear;
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.menu__list-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: 0.1em;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  color: #f7f7f7;
  white-space: nowrap;
}

.menu__list-link:hover {
  color: #cb333b;
  cursor: pointer;
  transition: 0.4s all;
}

.menu__list-link--btn {
  margin-left: 30px;
  padding: 14px 30px;
  background: linear-gradient(90deg, #cb333b 0%, #631d1b 100%);
}

.header__content {
  padding-top: 100px;
}

.header__content__inner {
  display: flex;
}

.header__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  text-transform: uppercase;
  color: #f7f7f7;
  max-width: 800px;
}

.header__title span {
  color: #cb333b;
}

.header__subtitle {
  margin: 70px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #f7f7f7;
}

.header__content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #f2f2f2;
  list-style-type: disc;
  list-style-position: inside;
}

.header__button {
  margin-top: 70px;
  padding: 20px 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  border: none;
  color: #f7f7f7;
  margin-bottom: 130px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.header__choose-btn {
  background: linear-gradient(270deg, #cb333b 0%, #631d1b 100%);
}

.header__services-btn {
  margin-left: 30px;
  background: linear-gradient(90deg, #cb333b 0%, #631d1b 100%);
}

.header__button:hover {
  background: #fff;
  color: #cb333b;
  transition: 0.5s all;
  box-shadow: 0 0.5em 1em 0 rgba(255, 255, 255, 0.15),
    0 0.4em 0.9em -0.2em rgba(255, 255, 255, 0.4);
}

.check {
  padding-bottom: 50px;
}
.check__container-phone {
  display: none;
}
.check__phone-list {
  display: grid;
  max-width: 650px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  margin: 0 auto;
}
.check__phone-item {
  display: flex;
}
.check__phone-text {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.01em;
}
.check__phone-text--engine,
.check__phone-text--sheet,
.check__phone-text--turbine,
.check__phone-text--speedometer,
.check__phone-text--transmission,
.check__phone-text--brakes,
.check__phone-text--seat,
.check__phone-text--battery,
.check__phone-text--wheel {
  transform: translate(0, 20%);
}

.check__phone-img {
  margin-right: 20px;
  min-width: 45px;
}

.check__phone-img img {
  min-width: 35px;
}
.check__inner {
  padding-bottom: 50px;
}

.swiper-slide-img img {
  width: 50px;
  height: 40px;

  float: left;
  padding: 7px;
  background: #f3f3f3;
  border-radius: 10px;
}

.swiper-slide-title {
  font-size: 24px;
}

.swiper-slide-subtitle {
  font-size: 24px;
}

.check__car {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.swiper-slide-block {
  width: 300px;
  margin-bottom: 40px;
}

.swiper-slide-content {
  margin-left: 70px;
}

.check-swiper {
  height: 600px;
  overflow: hidden;
  width: 1120px;
}

.swiper-slide-section {
  justify-content: space-between;
  display: flex;
  margin-left: 90px;
}

.swiper-slide-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-button-block {
  top: calc(60% - 150px);
  transform: translate(-50%, -50%);
  position: absolute;
  right: 60px;
}

.check-swiper__button-prev::after,
.check-swiper__button-next::after {
  color: #000000;
  transform: rotate(90deg);
  font-size: 24px;
  position: absolute;
  font-weight: 700;
}

.swiper-pagination-vertical.swiper-pagination-bullets {
  top: 20px;
  right: -29px;
  position: absolute;
}

.check-swiper__button-next,
.check-swiper__button-prev {
  position: absolute;
  top: 40px;
  width: calc(var(--swiper-navigation-size) / 51 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(30px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2), 0px 4px 2px rgba(0, 0, 0, 0.05);
  background: #ffffff;
  border-radius: 50%;
  height: 52px;
  width: 52px;
  color: #000000;
  left: -3px;
}

.check-swiper__button-prev {
  top: -70px;
}
.swiper-button-block .swiper-pagination-bullet {
  background: #989797;
  display: block;
  height: 15px;
  width: 15px;
  color: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
}
.swiper-button-block .swiper-pagination-bullet-active {
  border: 2px solid #cb333b;
  background-color: #dedbdb;
  border-top: 1px solid #e7e7e7;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scheme-job {
  background-color: rgba(99, 29, 27, 0.08);
}

.scheme-job__items {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.scheme-job__item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.scheme-job__item::after {
  content: "";
  position: absolute;
  background: url(../images/svg/arrow-right.svg) center center no-repeat;
  color: #000000;
  width: 20px;
  height: 40px;
  bottom: 140px;
  left: -50px;
}

.scheme-job__item:first-child::after {
  display: none;
}

.scheme-job__item:first-child {
  margin-left: 50px;
}

.scheme-job__item + .scheme-job__item {
  margin-left: 40px;
}

.scheme-job__item-subtitle {
  line-height: 24px;
  font-size: 26px;
}

.scheme-job__subtitle--first {
  padding-top: 25px;
}

.scheme-job__subtitle--third {
  padding-top: 5px;
}

.scheme-job__img {
  width: 120px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 10px;
}

.scheme-job__text {
  padding-top: 20px;
}

.scheme-job__btn {
  padding: 10px 40px;
  position: relative;
  font-size: 20px;
  margin-bottom: 60px;
  right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
}

.cost__swiper {
  display: none;
}

.cost__inner {
  padding-bottom: 50px;
}

.cost__items {
  display: flex;
  justify-content: space-around;
}

.cost__item {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
}

.cost__img {
  max-height: 170px;
}

.cost__list {
  padding: 25px 0;
  position: relative;
  height: 100%;
}

.cost__subtitle {
  margin-bottom: 20px;
}

.cost__text-list-item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  max-width: 300px;
  font-size: 14px;
}

.cost__text-list-item::before {
  position: absolute;
  content: " ";
  background: url(../images/svg/check.svg) center center no-repeat;
  width: 20px;
  height: 13px;
  left: -2px;
  top: 5px;
  background-size: contain;
}

.cost__price-text {
  width: 100%;
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 32px;
  font-weight: bold;
}

.cost__btn {
  color: #ffffff;
  padding: 7px 40px;
  font-size: 18px;
  line-height: 22px;
  background-color: #cb333b;
  border-radius: 4px;
  display: block;
  min-width: 100%;
}

.reviews {
  padding-bottom: 50px;
  background-color: rgba(99, 29, 27, 0.08);
  position: relative;
}

.reviews__quotes-img {
  position: absolute;
  width: 150px;
  top: 0;
  left: 150px;
  opacity: 0.2;
}

.reviews__inner {
  display: flex;
  flex-direction: column;
  position: relative;
}

.reviews-slider__img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.reviews-slider {
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
}

.reviews-slide__name {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
}

.reviews-slide__text {
  margin-bottom: 50px;
}

.reviews-swiper__button-prev,
.reviews-swiper__button-next {
  top: 110px;
  cursor: pointer;
}

.reviews-swiper__button-prev {
  left: 350px;
}

.reviews-swiper__button-next {
  right: 350px;
}

.reviews-swiper__button-prev::after,
.reviews-swiper__button-next::after {
  color: #882926;
  font-size: 70px;
}

.reviews__btn {
  margin: 0 auto;
}
.reviews__btn-call {
  padding: 10px 40px;
  font-size: 20px;
}

.car-problems {
  padding-bottom: 50px;
}

.car-problems__inner {
  margin-bottom: 50px;
}

.car-problems__item {
  display: flex;
  width: 400px;
}

.car-problems__img {
  width: 70px;
  margin-right: 20px;
  box-sizing: border-box;
}

.car-problems__info {
  max-width: 300px;
}
.car-problems__container {
  display: grid;
  max-width: 980px;
  width: 100%;
  margin-left: 150px;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 45px;
}

.car-problems__item-title {
  white-space: nowrap;
}

.car-problems__img img {
  max-width: 100%;
}

.car__problems__item-text {
  margin: 0.45em 0;
}

.diagram-pie__title {
  text-align: center;
  font-size: 35px;
  padding: 60px 0;
}

.diagram-pie__items {
  display: flex;
  justify-content: space-around;
}

.diagram-pie__item-wrapper {
  max-width: 160px;
}

.diagram-pie__item-text {
  text-align: center;
}
.diagram-pie__item {
  --p: 20;
  --b: 22px;
  --c: darkred;
  --w: 150px;

  width: var(--w);
  display: inline-grid;
  place-content: center;
  aspect-ratio: 1;
  margin: 5px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
  margin-bottom: 30px;
}

.diagram-pie__item::before,
.diagram-pie__item::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.diagram-pie__item:before {
  inset: 0;

  background: radial-gradient(farthest-side, var(--main-color) 98%, #0000)
      top/var(--border-thickness) var(--border-thickness) no-repeat,
    conic-gradient(var(--main-color) calc(var(--percentage) * 1%), #6663632a 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #00000000 calc(99% - var(--border-thickness)),
    #000000f9 calc(100% - var(--border-thickness))
  );
  mask: radial-gradient(
    farthest-side,
    #00000000 calc(99% - var(--border-thickness)),
    #000000 calc(100% - var(--border-thickness))
  );
}

.diagram-pie__item::after {
  inset: calc(50% - var(--border-thickness) / 2);
  background: var(--main-color);
  transform: rotate(calc(var(--percentage) * 3.6deg))
    translateY(calc(50% - var(--w) / 2));
}

.animate {
  animation: p 2s 0.2s both;
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@keyframes p {
  from {
    --percentage: 0;
  }
}

.done {
  background-color: rgba(99, 29, 27, 0.08);
}

.done-slider-mobile {
  display: none;
}
.done-slider__slide {
  display: flex;
  margin: 0 90px;
  padding: 30px;
  max-width: 900px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 10px 5px rgba(0, 0, 0, 0.1);
}

.done-slider__img {
  border-radius: 4px;
  cursor: pointer;
  min-height: 100%;
}

.done-slide__describe {
  margin-left: 40px;

  display: flex;
  flex-direction: column;
}

.done-slide__title {
  font-size: 25px;
}

.done-slide__points {
  margin: 30px 0;
}

.done-slide__result b,
.done-slide__points b {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
}

.done-slider__button-prev,
.done-slider__button-next {
  position: absolute;
  top: 150px;
  width: calc(var(--swiper-navigation-size) / 51 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(30px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2), 0px 4px 2px rgba(0, 0, 0, 0.05);
  background: #ffffff;
  border-radius: 50%;
  height: 52px;
  width: 52px;
  color: #000000;
}

.done-slider__button-prev::after,
.done-slider__button-next::after {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
}

.done-slider__button-prev {
  left: -20px;
}

.done-slider__slide-inner {
  display: flex;
}

.done-slider__wrapper {
  left: 100px;
}

.done-slider__slide {
  display: flex;
  flex-direction: column;
}

.done-slider__perview-items {
  display: flex;
  margin-top: 5px;
  cursor: pointer;
}
.done-slider__perviews-item {
  display: flex;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 4px;
}
.done-slider__perviews-item + .done-slider__perviews-item {
  margin-left: 5px;
}

.done-slider__perview-items img {
  border-radius: 4px;
}

.done-zoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 5;
}

.done-zoom__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid #fff;
  border-radius: 8px;
  width: 70%;
  height: auto;
}

.advantages {
  padding: 50px 0;
  background-color: rgba(99, 29, 27, 0.08);
  opacity: 0.99;
}

.advantages__title {
  padding: 70px 0;
  text-align: center;
  font-size: 35px;
  line-height: 45px;
}

.advantages__inner {
  margin-bottom: 50px;
}

.advantages__item {
  display: flex;
}

.advantages__img {
  margin-right: 30px;
}

.advantages__info {
  max-width: 300px;
}
.advantages__container {
  display: grid;
  max-width: 980px;
  width: 100%;
  margin-left: 135px;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 45px;
}

.advantages__item-title {
  white-space: nowrap;
}

.advantages__img img {
  max-width: 100%;
}

.advantages__item-text {
  margin-top: 5px;
}

.advantages__btn-call {
  text-align: center;
  margin-top: 50px;
}

.advantages__button {
  padding: 10px 25px;
}

.blog__inner {
  margin-bottom: 50px;
  display: flex;
  width: 90%;
  position: relative;
}

.blog__car {
  background-image: url(../images/images-blog/car.png);
  background-size: cover;
  width: 500px;
  height: 220px;
  position: absolute;
  top: 320px;
  right: 0;
}

.blog__img {
  position: relative;
  background-image: url(../images/images-blog/blog.png);
  width: 550px;
  margin-left: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
}

.blog__swiper {
  transform: translateY(3%);
  width: 55%;
  height: 92%;
  border-radius: 37px;
}

.blog__info-text-title {
  font-size: 16px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.blog__consul-btn {
  padding: 8px;
}

.blog__insta-btn {
  color: #000000;
  font-size: 18px;
  border: 2px solid #cbcaca9c;
  background: #cbcaca9c;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s all;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.15),
    0 0.4em 0.5em -0.2em rgba(0, 0, 0, 0.4);
  padding: 9px;
  font-family: "Inter", sans-serif;
}

.blog__insta-btn:hover {
  background: #fff;
  color: #000000;
  transition: 0.5s all;
}

.blog__insta-btn:active {
  transition: 0.5s all;
  box-shadow: none;
}

.blog__info-text-subtitle {
  margin-top: 30px;
  font-size: 16px;
}

.footer {
  background: url("../images/font3.jpg") no-repeat center center;
  background-size: 100%;
  position: relative;
  opacity: 0.99;
}

.footer:before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  margin-left: 25px;
}

.footer__section,
.footer__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__copyright,
.footer__time,
.footer__tel {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.footer__copyright {
  align-items: start;
}

.footer__tel a {
  color: #fff;
}

.footer__time-title,
.footer__tel-title {
  margin-bottom: 5px;
  position: relative;
  font-size: 18px;
}

.footer__time-title::before {
  position: absolute;
  content: "";
  background-image: url("../images/svg/icon/time.svg") center center no-repeat;
  top: 0;
  color: #fff;
  left: 0;
  width: 25px;
  height: 25px;
}

.footer__middle-section {
  border-top: 0.5px solid #e7e7e7;
  border-bottom: 0.5px solid #e7e7e7;
}
.footer__top-section {
  padding-bottom: 20px;
}
.footer__items-link {
  width: 100%;
  padding: 30px 0;
  font-size: 20px;
}

.footer__item-link + .footer__item-link {
  margin-left: 30px;
}

.footer__confidicional,
.footer__info,
.footer__item-link {
  color: #fff;
}

.footer__bottom-section {
  margin-top: 20px;
}

.footer__copyright-text {
  font-size: 70%;
  max-width: 200px;
  line-height: 110%;
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
  z-index: 20;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 350px;
  padding: 25px;
  transition: 0.5s all;
  border-radius: 8px;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
  z-index: 20;
}

.popup__title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
}

.popup__text {
  font-size: 16px;
  margin-bottom: 40px;
}
.popup__close {
  font-size: 20px;
  background-color: transparent;
  color: #000000;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup label {
  width: 100%;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column-reverse;
}

.popup input {
  height: 25px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
  border-bottom: 1px solid #cb333b;
}

.popup__label-text {
  font-size: 14px;
  opacity: 0.6;
}
.popup input:focus + .popup__label-text {
  color: #cb333b;
}

.popup__btn {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  border: 2px solid #cb333b;
  background: #cb333b;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: 0.5s all;
}

.popup__success {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #fff;
  width: 320px;
  padding: 25px;
  transition: 0.5s all;
  border-radius: 8px;
}

.popup__success-img {
  margin: 0 auto;
  width: 50px;
}

.popup__success-text {
  padding-top: 20px;
  text-align: center;
  color: #000000;
  font-size: 20px;
}

.popup__error {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #fff;
  width: 320px;
  padding: 25px;
  transition: 0.5s all;
  border-radius: 8px;
}

.popup__error-img {
  margin: 0 auto;
  width: 50px;
}

.popup__error-text {
  padding-top: 20px;
  text-align: center;
  color: #000000;
  font-size: 20px;
}

.popup__btn:hover {
  background: #fff;
  color: #cb333b;
  transition: 0.5s all;
}

.popup__political-safety {
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
}

.popup__political-safety a {
  border-bottom: 1px solid;
}

.social-button-main {
  border: 1px solid #cb333b;

  border-radius: 50%;
}

.social-icons__wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 2;
}
.social-icons__main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #35b524;
  transition: 0.4s ease;
  border: none;
  box-shadow: 0 5px 20px -5px #000000f3;
  overflow: hidden;
  cursor: pointer;
}

.social-icons__main-btn::after,
.social-icons__main-btn::before {
  content: "";
  position: absolute;
  border: 2px solid #35b524;
  left: -20px;
  opacity: 0;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
}

.social-icons__main-btn::after {
  animation-delay: 1.25s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.social-icons__main-btn:hover {
  background: #3dd92c;
  transition: 0.4s all;
}

.social-icons__main-btn:active {
  transition: 0.5s all;
  box-shadow: none;
  background: #35b524;
}

.social-icons__dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translate(15%, -145%);
  display: none;
}

.social-icons__btns {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #cb333b;
  margin: 5px 0;
  position: relative;
  overflow: hidden;
}

.social-icons__btns:hover {
  transform: scale(1.2);
  transition: 0.4s all;
}
.social-icons__btns i {
  line-height: 45px;
  font-size: 26px;
  color: #fff;
  box-shadow: 0 5px 15px -5px #00000070;
}
.fa-instagram {
  background: #e4405f;
  width: 100%;
}

.fa-telegram {
  background: #0088cc;
  width: 100%;
}

.fa-whatsapp {
  background: #25d366;
  width: 100%;
}
.open-btn {
  display: flex;
  animation: open 1s ease;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-height: 768px) {
  .header__content {
    padding-top: 50px;
  }
  .header__subtitle {
    margin: 35px 0;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 0;
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.473) 10%,
        rgba(0, 0, 0, 0)
      ),
      url(../images/header-bg3.jpg);
  }
  .container {
    max-width: 1100px;
  }
  .swiper-slide-side {
    left: -300px;
  }
  .swiper-slide-section {
    margin-right: 130px;
  }
  .car-problems__container {
    margin-left: 100px;
  }
  .advantages__container {
    margin-left: 100px;
  }
  .done-slider__slide {
    max-width: 800px;
  }
  .done-slider__slide-inner {
    max-height: 230px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    height: 100%;
  }

  .header__top-inner {
    padding-bottom: 20px;
  }
  .header__top-above {
    flex-direction: row-reverse;
  }

  .header__burger-btn {
    display: block;
    z-index: 3;
    margin-left: auto;
    width: 55px;
  }

  .header__logo-text {
    display: none;
  }

  .menu {
    position: absolute;
    right: -385px;
    top: 104px;
    width: 340px;
    background: rgba(255, 255, 255, 0.256);
    padding: 20px;
    transition: transform 0.5s;
    will-change: transform;
    border-radius: 8px;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 0;
  }
  .menu__list {
    display: block;
  }

  .menu__list-link {
    display: block;
    padding: 20px 0;
    font-size: 20px;
  }

  .header.open .menu {
    transform: translateX(-100%);
  }

  .header__callback-btn {
    display: none;
  }
  .header__callback {
    margin-left: 0;
    flex-direction: row-reverse;
  }

  .header__callback-tel-link {
    left: -30px;
  }

  .header__top-logo-callback {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
  }
  .logo {
    width: 80%;
  }

  .header__content {
    width: 700px;
    margin-left: 50px;
  }

  .header__title {
    font-size: 34px;
    line-height: 40px;
  }

  .check {
    padding-top: 0;
  }

  .check-swiper {
    max-width: 100%;
  }

  .check__car {
    max-width: 250px;
    max-height: 350px;
  }

  .swiper-slide-section {
    margin-left: 40px;
    margin-right: 50px;
  }

  .scheme-job__items {
    padding-top: 0;
  }
  .scheme-job__item {
    max-width: 300px;
  }
  .scheme-job__item:first-child {
    margin-left: 30px;
  }

  .reviews__inner {
    padding-top: 0;
  }

  .car-problems__container {
    margin-left: 40px;
    max-width: 900px;
  }

  .done-slider__slide {
    max-width: 70%;
  }

  .done-slider__img {
    min-width: 310px;
  }

  .done-slider__perviews-item {
    max-width: 47px;
  }
  .done-slider__slide-inner {
    max-height: 220px;
  }
  .done-slide__describe {
    margin-left: 15px;
  }
  .done-slide__points {
    margin: 15px 0;
  }

  .done-slider__button-prev {
    left: 0px;
  }

  .done-slider__button-next {
    right: 0;
  }

  .advantages__container {
    margin-left: 30px;
  }

  .advantages__info {
    max-width: 270px;
  }

  .blog__inner {
    margin-bottom: 50px;
    display: flex;
    width: 100%;
  }

  .blog__img {
    width: 400px;
    margin-left: 30px;
    height: 495px;
  }

  .blog__swiper {
    transform: translateY(2%);
    width: 55%;
    height: 93%;
    border-radius: 37px;
  }

  .blog__info-text-title {
    margin-top: 50px;
  }
  .blog__car {
    width: 500px;
    height: 220px;

    top: 220px;
    right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .title {
    text-align: left;
    padding: 50px 0;
    line-height: 45px;
    font-size: 35px;
  }
  .header {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.473) 10%,
        rgba(0, 0, 0, 0)
      ),
      url(../images/header-bg4.jpg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 185%;
    height: 100%;
  }

  .header__top-inner {
    padding-bottom: 20px;
  }
  .header__top-above {
    flex-direction: row-reverse;
  }
  .header__top-logo-callback {
    margin: 0 40px;
  }

  .header__burger-btn {
    display: block;
    z-index: 3;
    margin-left: auto;
    width: 55px;
  }

  .header__logo-text {
    display: none;
  }

  .menu {
    position: absolute;
    right: -350px;
    top: 104px;
    width: 320px;
    background: rgba(255, 255, 255, 0.256);
    padding: 20px;
    transition: transform 0.5s;
    will-change: transform;
    border-radius: 4px;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 0;
  }
  .menu__list {
    display: block;
  }

  .menu__list-link {
    color: #fff;
    display: block;
    padding: 15px 0;
    font-size: 16px;
    letter-spacing: 1.5px;
  }

  .header.open .menu {
    transform: translateX(-100%);
  }

  .header__callback-btn {
    display: none;
  }
  .header__callback {
    margin-left: 20px;
    flex-direction: row-reverse;
  }

  .header__callback-tel-link {
    left: -30px;
  }

  .logo {
    width: 200px;
    align-self: center;
  }

  .header__content-inner {
    margin-left: 50px;
  }
  .header__title {
    max-width: 450px;
    font-size: 25px;
    line-height: 40px;
  }

  .header__subtitle {
    max-width: 450px;
  }

  .check__car {
    display: none;
  }
  .check__inner {
    display: none;
  }

  .check__container-phone {
    display: block;
  }
  .scheme-job__items {
    padding-top: 0;
    max-width: 650px;
    margin: 0 auto;
  }
  .scheme-job__item {
    max-width: 220px;
  }
  .scheme-job__item:first-child {
    margin-left: 30px;
  }

  .scheme-job__img {
    width: 90px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .reviews-slider {
    max-width: 600px;
    margin: 0 auto;
  }
  .reviews-swiper__button-prev {
    left: 200px;
  }

  .reviews-swiper__button-next {
    right: 200px;
  }

  .car-problems__title {
    line-height: 40px;
  }

  .car-problems__img {
    max-width: 50px;
    margin-right: 5%;
  }
  .car-problems__info {
    max-width: 200px;
  }
  .car-problems__container {
    padding-left: 20px;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }

  .car-problems__item-title {
    white-space: wrap;
    font-size: 16px;
  }

  .car__problems__item-text {
    font-size: 14px;
  }

  .done__inner {
    max-width: 750px;
    margin: 0 auto;
  }
  .done-slider__slide {
    max-width: 500px;
  }

  .done-slide__describe {
    margin-left: 20px;
    max-width: 230px;
  }

  .done-slider__img {
    max-width: 260px;
    max-height: auto;
  }

  .done-slider__perviews-item {
    max-width: 39px;
  }

  .done-slide__title {
    font-size: 20px;
  }
  .done-slide__points {
    margin: 15px 0;
    font-size: 13px;
    line-height: 16px;
  }

  .done-slide__result b,
  .done-slide__points b {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
  }

  .done-slide__result p {
    font-size: 13px;
    line-height: 16px;
  }

  .done-slider__button-prev,
  .done-slider__button-next {
    top: 150px;
    height: 40px;
    width: 40px;
  }

  .done-slider__button-prev {
    left: 10px;
  }

  .advantages__container {
    padding-left: 20px;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }

  .advantages__info {
    max-width: 250px;
  }

  .advantages__img {
    width: 50px;
    margin-right: 5%;
  }

  .car-problems__title {
    line-height: 40px;
  }

  .advantages__item-title {
    white-space: wrap;
    font-size: 16px;
  }

  .advantages__item-text {
    margin-top: 5px;
    font-size: 14px;
  }
  .blog__inner {
    margin-bottom: 50px;
    display: flex;
    width: 100%;
  }

  .blog__img {
    width: 400px;
    margin-left: 30px;
    height: 495px;
  }

  .blog__swiper {
    transform: translateY(2%);
    width: 55%;
    height: 93%;
    border-radius: 37px;
  }

  .blog__consul-btn {
    margin-bottom: 15px;
  }
  .blog__info-text-title {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .blog__insta-btn {
    display: block;
    max-width: 234px;
    text-align: center;
  }

  .blog__car {
    display: none;
  }
}

@media (max-width: 767px) {
  .title {
    text-align: left;
    padding: 50px 0;
    line-height: 45px;
    font-size: 35px;
  }

  .header {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.473) 10%,
        rgba(0, 0, 0, 0)
      ),
      url(../images/header-bg5.jpg);
    background-size: 250%;
    height: 100%;
  }

  .header__top {
    position: fixed;
    top: 0;
    background-color: #000000;
    z-index: 4;
    width: 100%;
  }

  .header__top-logo-callback {
    margin-right: 20px;
  }
  .container {
    padding: 0 20px;
  }
  .header__content {
    padding-top: 50px;
  }
  .header__content-inner {
    margin-left: 0;
    padding-top: 80px;
  }
  .header__top-inner {
    padding-bottom: 20px;
  }
  .header__top-above {
    flex-direction: row-reverse;
  }
  .header__burger-btn {
    width: 55px;
  }
  .header__content-text {
    font-size: 20px;
  }

  .header__content-btn {
    display: block;
  }

  .header__button {
    width: 100%;
    font-size: 26px;
    margin-bottom: 20px;
    background: #cb333b;
    padding: 25px 0;
    margin-left: 0;
    margin-top: 0;
  }

  .header__choose-btn {
    margin-top: 70px;
    background: linear-gradient(270deg, #cb333b 0%, #631d1b 100%);
  }

  .header__services-btn {
    margin-bottom: 50px;
    background: linear-gradient(270deg, #cb333b 0%, #631d1b 100%);
  }
  .header__logo-text {
    display: none;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background: rgba(5, 5, 5, 0.833);
    padding: 20px;
    transition: transform 0.5s;
    will-change: transform;
    height: 100vh;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 0;
  }
  .menu__list-item {
    /* text-align: center; */
    top: 100px;
  }
  .menu__list {
    display: block;
  }
  .menu__list-link {
    color: #fff;
    display: block;
    padding: 25px 0;
    font-size: 30px;
    letter-spacing: 1.5px;
  }

  .header.open .menu {
    transform: translateY(-100%);
  }

  .header__callback {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
  }
  .header__callback-btn {
    display: none;
  }
  .header__top-above {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header__burger-btn {
    display: block;
    z-index: 3;
    margin-left: 10px;
  }
  .header__top-inner {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }

  .header__callback-tel-link {
    font-size: 18px;
    left: 0;
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
  }

  .header__callback-time {
    display: none;
  }

  .logo {
    width: 150px;
    margin-left: auto;
  }

  .header__title {
    max-width: 700px;
    font-size: 36px;
    line-height: 45px;
    padding-top: 30px;
  }

  .header__subtitle {
    max-width: 639px;
    margin: 50px 0;
    font-size: 26px;
    letter-spacing: 0.01em;
    line-height: 34px;
  }

  .header__content-text {
    font-size: 24px;
  }
  .check__car {
    display: none;
  }
  .check__inner {
    display: none;
  }

  .check__container-phone {
    display: block;
  }
  .check__phone-text {
    font-size: 15px;
  }
  .scheme-job__items {
    padding-top: 0;
  }
  .scheme-job__item {
    max-width: 180px;
  }
  .scheme-job__item:first-child {
    margin-left: 20px;
  }

  .scheme-job__img {
    width: 60px;
  }
  .scheme-job__item:first-child {
    margin-left: 10px;
  }

  .scheme-job__subtitle--first {
    padding-top: 10px;
  }

  .scheme-job__text {
    padding-top: 20px;
  }

  .cost__swiper {
    display: block;
  }

  .cost__swiper-slide {
    height: auto;
    width: 98%;
  }

  .cost__items {
    display: none;
  }

  .cost__item {
    height: 100%;
  }

  .cost__price-buttons {
    box-sizing: border-box;
  }
  .cost__swiper-pagination {
    padding: 10px;
    position: relative;
    display: block;
    padding-top: 90px;
  }

  .cost__swiper-pagination .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 12px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 12px)
    );
  }

  .reviews-slider {
    max-width: 600px;
    margin: 0 auto;
  }
  .reviews-swiper__button-prev {
    left: 150px;
    top: 80px;
  }

  .reviews-swiper__button-next {
    right: 150px;
    top: 80px;
  }
  .car-problems__title {
    line-height: 40px;
  }

  .car-problems__item {
    display: flex;
    width: 280px;
  }

  .car-problems__img {
    max-width: 50px;
    margin-right: 5%;
  }
  .car-problems__info {
    max-width: 200px;
  }
  .car-problems__container {
    max-width: 750px;
    width: 100%;
    margin-left: 20px;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }

  .car-problems__item-title {
    white-space: wrap;
    font-size: 16px;
  }

  .car__problems__item-text {
    font-size: 14px;
  }

  .diagram-pie__item {
    --w: 120px;
    margin-left: 20px;
  }

  .done-slider {
    display: none;
  }
  .done-slider__mobile {
    width: 100%;
    margin: 0 auto;
  }
  .done-slider-mobile {
    display: flex;
    overflow: hidden;
  }
  .done-slider__wrapper {
    left: 0;
  }
  .done-slider__slide {
    display: flex;

    box-sizing: border-box;
    flex-direction: row;
    height: 450px;

    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 15px;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 10px 5px rgba(0, 0, 0, 0.1);
  }

  .done-slider__slide-inner {
    display: flex;
    flex-direction: column;
    width: 220px;
  }

  .done-slider__img {
    max-width: 220px;
    max-height: 160px;
    min-height: 155px;
  }
  .done-slide__describe {
    display: block;
    margin-left: 0;
    line-height: 19px;
  }
  .done-slide__title {
    padding-top: 15px;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .done-slide__points {
    margin: 5px 0;
    font-size: 14px;
  }

  .done-slide__points b {
    margin: 5px 0;
    font-size: 16px;
  }

  .done-slide__result b {
    font-size: 16px;
    margin: 5px 0;
  }

  .done-slide__result p {
    font-size: 14px;
  }

  .done-slider__perview-items {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 120px;

    margin-left: 4px;
    max-height: 160px;
    flex-wrap: wrap;
  }

  .done-slider__perviews-item + .done-slider__perviews-item {
    margin-left: 0;
  }

  .done-slider__perviews-item {
    padding: 2px;
    margin-bottom: 2px;
    margin-top: 0;
    min-height: 38px;
  }

  .done-slider__perviews-item img {
    max-width: 47px;
  }

  .done-slider__button-prev,
  .done-slider__button-next {
    position: absolute;
    top: 325px;
  }

  .done-slider__button-prev {
    left: 100px;
  }
  .done-slider__button-next {
    right: 100px;
  }

  .advantages__container {
    max-width: 650px;
    width: 100%;
    margin-left: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }

  .advantages__info {
    max-width: 250px;
  }

  .advantages__img {
    min-width: 50px;
    margin-right: 5%;
  }

  .car-problems__title {
    line-height: 40px;
  }

  .advantages__item-title {
    white-space: wrap;
    font-size: 16px;
  }

  .advantages__item-text {
    margin-top: 5px;
    font-size: 14px;
  }

  .footer__logo {
    max-width: 150px;
  }

  .footer__item-link {
    font-size: 16px;
  }

  .footer__links a {
    padding: 5px;
  }

  .footer__links img {
    min-width: 30px;
  }

  .blog__inner {
    margin-bottom: 50px;
    display: flex;
    width: 100%;
  }

  .blog__img {
    width: 330px;
    margin-left: 20px;
    height: 495px;
  }

  .blog__swiper {
    transform: translateY(2%);
    width: 66%;
    height: 93%;
    border-radius: 37px;
  }

  .blog__consul-btn {
    margin-bottom: 15px;
  }
  .blog__info-text-title {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .blog__insta-btn {
    display: block;
    max-width: 234px;
    text-align: center;
  }
  .blog__car {
    display: none;
  }
}

@media (max-width: 665px) {
  .title {
    font-size: 30px;
  }

  .check__phone-list {
    max-width: 400px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  .check__phone-text {
    font-size: 13px;
  }
  .cost__item {
    min-width: 85%;
    margin-left: 15px;
  }

  .cost__subtitle {
    font-size: 1.5em;
  }
  .cost__text-list-item {
    font-size: 1em;
    max-width: 400px;
  }

  .scheme-job__items {
    flex-direction: column;
  }
  .scheme-job__item {
    max-width: 500px;
    margin-bottom: 20px;
  }
  .scheme-job__item::after {
    display: none;
  }
  .scheme-job__img {
    width: 200px;
  }
  .scheme-job__text {
    padding-top: 5px;
  }
  .scheme-job__item + .scheme-job__item {
    margin-left: 0;
  }

  .scheme-job__subtitle {
    padding-top: 10px;
    font-size: 24px;
  }
  .reviews-slider {
    max-width: 450px;
  }

  .reviews-swiper__button-next {
    right: 100px;
  }
  .reviews-swiper__button-prev {
    left: 100px;
  }

  .car-problems__container {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    width: 100%;
    margin-left: 0;
  }
  .car-problems__item {
    width: 100%;
  }
  .car-problems__img {
    min-width: 50px;
    margin-right: 20px;
    box-sizing: border-box;
  }
  .car-problems__info {
    max-width: 100%;
  }

  .diagram-pie__items {
    flex-wrap: wrap;
    max-width: 450px;
    margin: 0 auto;
  }
  .diagram-pie__item {
    --w: 160px;
    margin: 0 auto;
  }
  .diagram-pie__item-wrapper {
    margin: 20px;
  }

  .diagram-pie__item-text {
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
  }
  .done-slider__slide {
    width: 100%;
    max-width: 330px;
    height: 400px;
  }
  .done-slider__slide-inner {
    width: 200px;
  }

  .done-slider__img {
    max-width: 200px;
    min-height: 153px;
  }

  .done-slider__perview-items {
    max-height: 160px;
  }
  .done-slide__describe {
    min-width: 300px;
  }

  .advantages__container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    max-width: 650px;
    width: 100%;
  }

  .advantages__info {
    max-width: 100%;
  }

  .advantages__img {
    max-width: 50px;
    margin-right: 20px;
  }

  .footer {
    background: url("../images/font4.jpg") no-repeat center center;
    background-size: 150%;
    position: relative;
  }
  .footer__inner {
    padding: 20px 0;
    margin-left: 0;
  }

  .footer__time-title,
  .footer__tel-title {
    font-size: 13px;
  }
  .footer__top-section {
    padding-bottom: 10px;
    justify-content: space-between;
  }
  .footer__items-link {
    padding: 15px 0;
    font-size: 14px;
  }
  .footer__item-link + .footer__item-link {
    margin-left: 10px;
  }
  .footer_time-text {
    font-size: 14px;
  }
  .footer__tel-text {
    font-size: 14px;
  }
  .footer__logo {
    width: 140px;
    margin-right: 40px;
  }

  .footer__confidicional {
    font-size: 13px;
    text-align: end;
    line-height: 13px;
  }

  .blog__inner {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .blog__img {
    width: 450px;
    margin-left: 0;
    margin: 0 auto;
    height: 550px;
  }

  .blog__swiper {
    transform: translateY(2%);
    width: 53%;
    height: 93%;
    border-radius: 37px;
  }
  .blog__info {
    margin-right: 0;
  }

  .blog__consul-btn {
    margin-bottom: 15px;
    width: 100%;
  }
  .blog__info-text-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .blog__insta-btn {
    display: block;
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .header__content-inner {
    margin-left: 0;
    padding-top: 60px;
  }
  .header__choose-btn {
    padding: 20px 0;
  }
  .header__services-btn {
    padding: 20px 0;
  }

  .logo {
    width: 120px;
  }
  .header__title {
    max-width: 400px;
    font-size: 30px;
    padding-top: 0;
  }

  .header__subtitle {
    max-width: 400px;
    margin: 30px 0;
    font-size: 26px;
  }

  .reviews-slider {
    max-width: 600px;
    margin: 0 auto;
  }
  .reviews-swiper__button-prev {
    left: 150px;
    top: 80px;
  }

  .reviews-swiper__button-next {
    right: 150px;
    top: 80px;
  }

  .cost__item {
    min-width: 80%;
    margin-left: 15px;
  }
  .car-problems__title {
    line-height: 40px;
  }

  .car-problems__item {
    display: flex;
    width: 280px;
  }

  .car-problems__img {
    max-width: 50px;
    margin-right: 5%;
  }
  .car-problems__info {
    max-width: 200px;
  }
  .car-problems__container {
    max-width: 750px;
    width: 100%;
    margin-left: 20px;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }

  .car-problems__item-title {
    white-space: wrap;
    font-size: 16px;
  }

  .car__problems__item-text {
    font-size: 14px;
  }

  .diagram-pie__item {
    --w: 120px;
    margin-left: 20px;
  }

  .done-slider {
    display: none;
  }
  .done-slider__mobile {
    width: 100%;
    margin: 0 auto;
  }
  .done-slider-mobile {
    display: flex;
    overflow: hidden;
  }
  .done-slider__wrapper {
    left: 0;
  }
  .done-slider__slide {
    display: flex;

    box-sizing: border-box;
    flex-direction: row;
    height: 400px;

    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 15px;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 10px 5px rgba(0, 0, 0, 0.1);
  }

  .done-slider__slide-inner {
    display: flex;
    flex-direction: column;
    max-width: 200px;
  }

  .done-slider__img-wrapper {
    max-width: 200px;
    min-height: 157px;
  }
  .done-slider__img {
    max-width: 200px;
    min-height: 100%;
  }
  .done-slide__describe {
    display: block;
    margin-left: 0;
    line-height: 19px;
  }
  .done-slide__title {
    padding-top: 15px;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .done-slide__points {
    margin: 5px 0;
    font-size: 14px;
  }

  .done-slide__points b {
    margin: 5px 0;
    font-size: 16px;
  }

  .done-slide__result b {
    font-size: 16px;
    margin: 5px 0;
  }

  .done-slide__result p {
    font-size: 14px;
  }

  .done-slider__perview-items {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 120px;

    margin-left: 4px;
    max-height: 160px;
    flex-wrap: wrap;
  }

  .done-slider__perviews-item + .done-slider__perviews-item {
    margin-left: 0;
  }

  .done-slider__perviews-item {
    padding: 2px;
    margin-bottom: 2px;
  }

  .done-slider__perviews-item {
    max-width: 47px;
  }

  .done-slider__button-prev,
  .done-slider__button-next {
    position: absolute;
    top: 325px;
  }

  .done-slider__button-prev {
    left: 100px;
  }
  .done-slider__button-next {
    right: 100px;
  }

  .advantages__container {
    max-width: 650px;
    width: 100%;
    margin-left: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }

  .advantages__info {
    max-width: 250px;
  }

  .advantages__img {
    width: 50px;
    margin-right: 5%;
  }

  .car-problems__title {
    line-height: 40px;
  }

  .advantages__item-title {
    white-space: wrap;
    font-size: 16px;
  }

  .advantages__item-text {
    margin-top: 5px;
    font-size: 14px;
  }

  .footer__logo {
    max-width: 150px;
  }

  .footer__links a {
    padding: 5px;
  }

  .footer__links img {
    min-width: 30px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .title {
    font-size: 24px;
    padding: 25px 0;
    line-height: 30px;
  }

  .popup__button {
    padding: 5px 20px;
    font-size: 16px;
  }
  .header {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.473) 10%,
        rgba(0, 0, 0, 0)
      ),
      url(../images/header-bg5.jpg);
    background-size: 250%;
    height: 100%;
  }

  .header__top-logo-callback {
    margin-right: 0;
    align-items: center;
  }
  .logo {
    width: 90px;
  }

  .header__callback-tel {
    font-size: 12px;
  }

  .header__burger-btn {
    width: 35px;
    height: 35px;
  }

  .header__burger-btn span {
    width: 25px;
    left: 3.5px;
    top: 16px;
  }

  .header__callback {
    margin: 0;
  }
  .header__callback-tel-link {
    font-size: 12px;
  }

  .header__callback-tel-link::before {
    background-image: url("../images/svg/icon/telephone\ 2.svg");
    left: -20px;
    width: 15px;
    height: 15px;
  }

  .menu__list-link {
    font-size: 16px;
    padding: 10px 0;
  }

  .header__title {
    font-size: 17px;
    line-height: 26px;
    padding-top: 20px;
  }

  .header__subtitle {
    font-size: 14px;
    line-height: 20px;
  }

  .header__content-text {
    font-size: 12px;
    line-height: 20px;
  }

  .header__button {
    margin-top: 30px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 7px;
  }

  .header__services-btn {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .check__phone-list {
    max-width: 320px;
    column-gap: 15px;
    row-gap: 15px;
    margin: 0 auto;
  }
  .check__phone-img {
    width: 30px;
    margin-right: 0;
  }

  .check__phone-img img {
    width: 30px;
  }

  .check__phone-text {
    font-size: 9px;
    line-height: 15px;
  }

  .scheme-job__items {
    padding-bottom: 20px;
  }
  .scheme-job__img {
    width: 130px;
  }

  .scheme-job__subtitle {
    font-size: 15px;
  }

  .scheme-job__text {
    font-size: 13px;
    line-height: 15px;
  }

  .scheme-job__btn {
    margin-bottom: 10px;
  }

  .cost__inner {
    padding-left: 0;
    padding-bottom: 10px;
  }
  .cost__item {
    padding: 10px;
    margin: 0;
    width: 90%;
    margin-left: 5px;
  }

  .cost__subtitle {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .cost__list {
    padding-top: 15px;
    padding-left: 5px;
  }

  .cost__text-list {
    font-size: 13px;
  }

  .cost__text-list-item {
    margin-bottom: 5px;
    line-height: 20px;
  }

  .cost__swiper-pagination {
    position: relative;
    display: block;
    padding-top: 50px;
  }
  .cost__swiper-pagination .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 8px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 8px)
    );
  }

  .reviews-slider {
    max-width: 280px;
    margin: 0 auto;
  }

  .reviews-slider__img {
    width: 140px;
  }

  .reviews-slide__name {
    margin-bottom: 10px;
  }
  .reviews-slide__text {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .reviews-swiper__button-prev {
    left: 25px;
  }

  .reviews-swiper__button-next {
    right: 25px;
  }

  .reviews-swiper__button-prev::after,
  .reviews-swiper__button-next::after {
    font-size: 55px;
  }

  .car-problems__container {
    grid-row-gap: 15px;
    margin-left: 0;
    max-width: 400px;
    width: 100%;
  }
  .car-problems__item {
    margin: 0 auto;
    min-width: 280px;

    max-width: 450px;
  }

  .car-problems__img {
    margin-right: 15px;
  }
  .car-problems__img img {
    width: 40px;
  }

  .car-problems__item-title {
    font-size: 16px;
    line-height: 20px;
  }
  .car__problems__item-text {
    font-size: 13px;
    line-height: 18px;
  }

  .diagram-pie__items {
    max-width: 290px;
  }

  .diagram-pie__item-wrapper {
    margin: 0;
    max-width: 100px;
    margin-bottom: 20px;
  }
  .diagram-pie__item {
    --w: 110px;
    font-size: 24px;
    margin: 0 auto;
  }

  .diagram-pie__item-text {
    padding-top: 15px;
    font-size: 12px;
    line-height: 17px;
  }

  .done-slide__title {
    margin-bottom: 0;
  }
  .done-slider__wrapper {
    width: 80%;
  }
  .done-slider__slide-inner {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    position: relative;
  }

  .done-slider__slide {
    display: flex;
    height: 380px;
    max-width: 260px;
    margin: 0 auto;
    padding: 7px;
  }

  .done-slider__img-wrapper {
    min-height: 130px;
    max-width: 160px;
  }
  .done-slider__img {
    max-width: 100%;
    height: 100%;
  }

  .done-slider__mobile {
    left: 0;
    width: 100%;
  }

  .done-slide__describe {
    max-width: 250px;
    min-width: 200px;
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;

    margin-left: 10px;
    line-height: 17px;
  }
  .done-slider__perview-items {
    max-width: 100px;
    max-height: 150px;
    padding: 0 2px;
    margin-left: 0;
    margin-top: 0;
  }
  .done-slider__perviews-item {
    padding: 0;
    padding-right: 1px;
    margin-bottom: 3px;

    display: flex;
    max-width: 37px;
    min-height: 30px;
  }

  .done-slide__result p,
  .done-slide__points p {
    font-size: 12px;
  }
  .done-slide__result b,
  .done-slide__points b {
    font-size: 14px;
  }

  .advantages__container {
    grid-row-gap: 15px;
    margin-left: 0;
    max-width: 400px;
  }
  .advantages__img img {
    width: 40px;
    margin-right: 5%;
  }

  .advantages__item {
    margin: 0 auto;
  }
  .advantages__item-title {
    font-size: 16px;
    line-height: 20px;
  }
  .advantages__item-text {
    font-size: 13px;
    line-height: 18px;
  }

  .footer__info {
    flex-direction: column;
    align-items: center;
  }

  .footer__item-link:nth-child(4) {
    margin-left: 0;
  }
  .footer__copyright {
    margin: 10px 0;
  }

  .blog__img {
    width: 320px;
  }

  .blog__swiper {
    transform: translateY(8%);
    width: 65%;
    height: 85%;
    border-radius: 37px;
  }

  .blog__insta-btn {
    padding: 4px;
    font-size: 16px;
  }
  .blog__info {
  }
  .blog__info-text-title {
    margin-top: 0;
  }
}
